<div class="home-messages">
  <% if (user) { %>
    <a id="refresh" href="/"><img src="images/refresh.svg" alt="refresh"/></a>
    <h2>Messages</h2>
    <ul class="message-display">
      <% messages.forEach(message => { %>
        <% if (user.status === "Member") { %>
          <li>
            <h2>
              <%= message.title %>
            </h2>
            <p class="messageUserText">
              <%= message.text %>
            </p>
            <div class="post-info">
              <p class="messageUserName">
                <%= message.user.username %>
              </p>
              <p class="messageTimeAdded">
                <%= message.formatDate %>
              </p>
            </div>
          </li>
        <% } else { %>
          <li>
            <h2>
              <%= message.title %>
            </h2>
            <p class="messageUserText">
              <%= message.text %>
            </p>
          </li>
        <% } %>
      <% }) %>
    </ul>
    <a id="viewChange" href="/">Return Home</a>
  <% } else { %>
    <div class="bad-access">
      <h1>You must be a signed-in to view this page</h1>
      <a href="/">Return Home</a>
    </div>
  <% } %>
</div>