<div class="sign-up-form">
  <h1><%= title %></h1>
  <form action="" method="POST">
    <label for="username">First Name</label>
    <input name="firstName" id="firstName" type="text" placeholder="First Name" value="<%= first_name %>">
    <label for="username">Last Name</label>
    <input name="lastName" id="lastName" type="text" placeholder="Last Name" value="<%= last_name %>">
    <label for="username">Username</label>
    <input name="username" id="username" type="text" placeholder="Username" value="<%= username %>">
    <label for="password">Password</label>
    <input name="password" id="password" type="password" placeholder="Password">
    <div class="submitOptions">
      <button type="submit">Sign Up</button>
      <a href="/users">cancel</a>
    </div>
  </form>

  <% if (errors) { %>
    <ul class="form-errors">
      <h4 class="text-danger">Errors:</h4>
      <% errors.forEach(error => { %>
        <li>- <%= error %></li>
      <% }) %>
    </ul>
  <% } %>
</div>